System Requirements

1.

    A contributor-driven database that contains a repository of vulnerabilities and their exploits organized by their associated vulnerable applications, operating systems, and system architectures. This information could be cross-referenced according to a specific user-supplied target. In addition to forums for discussing relevant security issues and a rating system to weed out old or unsubstantiated exploits, this system could be used by penetration testers and security professionals to evaluate attack vectors on particular systems.
    
    1.1 Client Requirements
       
        1. Users
            a. Users can act in three sub-roles: Admin, Contributor or Tester. These roles are not exclusive.
            b. Users can create Threads and Posts in the Forum.
            c. Users can edit their own Posts in the forum within a set time limit.
            d. Has a historical profile of Threads, Posts, Vulnerabilities, Exploits, Architectures, Operating Systems, Applications, Targets, Results, and Ratings that have been created by the User.
            e. Has a password for secure login purposes.
            
            1.1 Contributor
                a. Create pending Vulnerabilites, Exploits, Architectures, Operating Systems, and Applications to be added to the database on approval from an Admin.
                
            1.2 Tester
                a. Create Targets.
                b. Supply information about each Target (Architecture, Operating System, and Applications).
                c. Request Results for each Target that contain Vulnerabilites and Exploits that match the Target's information.
                d. Create Ratings for Exploits that have been included in Results for a Target owned by the Tester.
                
            1.3 Admin
                a. Admins should be able to manage Users (add, remove, and edit).
                b. Admins should be able to manage Vulnerabilities, Exploits, Architectures, Operating Systems, and Applications (add, remove, and edit).
                c. Admins should be able to approve pending contributions by Users to the database.
                d. Admins should be able to manage the Forum (add, remove, and edit posts).
                e. Admins should be able to manage User ratings of Vulnerabilites and Exploits (add, remove).
                f. Has a password for secure login purposes.
                
    1.2 Other Requirements
    
        1. Vulnerability
            1.1 CVE
                a. Each vulnerability must be associated with exactly one CVE ID for the vulnerability. This is a standard ID pulled from the U.S. National Vulnerability Database. 
            1.2 Name
                a. Each vulnerability must be associated with exactly one short descriptive Name of the vulnerability.
            1.3 Description
                b. Each vulnerability must be associated with exactly one in-depth Description of the vulnerability.
            1.4 Severity
                a. Each vulnerability must be associated with exactly one Severity. This is a numerical score that is generated by an algorithm decided upon by the client, determined by a vulnerability's impact and the ease of its attack vectors.
            1.5 Date Created
                a. Each vulnerability must be associated with exactly one Date Created.
            1.6 Date Last Modified
                a. Each vulnerability must be associated with exactly one Date Last Modified.
            1.7 User
                a. Each vulnerability must be associated with exactly one creator User.
            
        2. Exploit
            2.1 Vulnerability
                a. Exploits must be associated with exactly one Vulnerability.
            2.2 Application
                a. Exploits must be associated with one or more Applications.
                b. This relationship also entails a Minimum Affected Version and a Maximum Affected Version.
            2.3 OS
                a. Exploits may be associated with one or more OSes.
                b. This relationship also entails a Minimum Affected Version and a Maximum Affected Version.
            2.4 Architecture
                a. Exploits may be associated with one or more Architectures.
            2.5 Exploit Code
                a. Exploits must be associated with exactly one exploit (code in text form to run an exploit).
            2.6 References
                a. Exploits may be associated with one or more links to web reference material.
            2.7 Date Created
                a. Each exploit must be associated with exactly one Date Created.
            2.8 Date Last Modified
                a. Each exploit must be associated with exactly one Date Last Modified.
            2.9 User
                a. Exploits must be associated with exactly one creator User.
            
        3. Target
            3.1 Name
                a. Each Target must be associated with exactly one Name.
            3.2 Applications
                a. Each Target must be assocaited with at least one Application.
                b. Each Target Application also has a Version.
            3.3 OS
                a. Each Target must be associated with exactly one OS.
                b. Each Target OS also has a Version.
            3.4 Architecture
                a. Each Target must be associated with exactly one Architecture.
            3.5 Date Created
                a. Each Target must be associated with exactly one Date Created.
            3.6 Date Last Modified
                a. Each Target must be associated with exactly one Date Last Modified.
            3.7 User
                a. Each Target must be associated with exactly one creator User.
            3.8 Result
                a. Each target may be associated with multiple Results.
    
        4. Application
            4.1 Name
                a. Each Application must be associated with exactly one Name.
            4.2 Version
                a. Each Application must be associated with exactly one Version.
            4.3 Date Created
                a. Each Application must be associated with exactly one Date Created.
            4.4 Date Last Modified
                a. Each Application must be associated with exactly one Date Last Modified.
            4.4 User
                a. Each Application must be associated with exactly one creator User.
            
        5. OS
            5.1 Name
                a. Each OS must be associated with exactly one Name.
            5.2 Version
                a. Each OS must be associated with exactly one Version.
            5.3 Date Created
                a. Each OS must be associated with exactly one Date Created.
            5.4 Date Last Modified
                a. Each OS must be associated with exactly one Date Last Modified.
            5.5 User
                a. Each OS must be associated with exactly one creator User.
                
        6. Architecture
            6.1 Name
                a. Each Architecture must be associated with exactly one Name.
            6.2 Date Created
                a. Each Architecture must be associated with exactly one Date Created.
            6.3 Date Last Modified
                a. Each Architecture must be associated with exactly one Date Last Modified.
            6.4 User
                a. Each Architecture must be associated with exactly one creator User.
                
        7. Results
            7.1 Target
                a. Each Result must be associated with exactly one Target.
            7.2 Exploits
                a. Each Result may be associated with one or more Exploits.
            7.3 Date Created
                a. Each Result must be associated with exactly one Date Created.
            7.4 User
                a. Each Result must be associated with exactly one creator User.
            
        8. Ratings
            8.1 User
                a. Each Rating must be associated with exactly one User.
            8.2 Score
                a. Each Rating must be associated with exactly one Score.
            8.3 Date Created
                a. Each Rating must be associated with exactly one Date Created.
            8.4 Exploit
                a. Each Rating rates exactly one Exploit.
            
        9. Forum
            a. Each forum has a Topic.
            
            9.1 Thread
                9.1.1 Title
                    a. Each Thread must be associated with exactly one Title.
                9.1.2 User
                    a. Each Thread must be associated with exactly one User.
                9.1.3 Date Created
                    a. Each Thread must be associated with exactly one Date Created.
                9.1.4 Date Last Modified
                    a. Each Thread must be associated with exactly one Date Last Modified.
            9.2 Posts
                9.2.1 Title
                    a. Each Post must be associated with exactly one Title
                9.2.2 Text
                    a. Each post must have exactly one Text attribute.
                9.2.3 User
                    a. Each Post must be associated with exactly one Title.
                9.2.4 Date Created
                    a. Each Post must be associated with exactly one Date Created.
                9.2.5 Date Last Modified
                    a. Each Post must be associated with exactly one Date Last Modified.